/*
 colors:
DD3417
7D82BB
613f75
E5C3D1
C9F0FF
 */

body {
  background-color: #DD3417;
  font: 15px "Lucidia Console", sans-serif;
  padding: 5px;
}

header {
  font: bold 30px "Lucidia Console", sans-serif;
  text-align: center;
  padding: 20px;
  border-style: none none solid none;
}

.tasks {
  display: grid;
  grid-template-columns: 20% 1% 79%;
  background-color: grey;
  border-style: none none solid none;
}

.tasks > div:nth-child(6n+1),
.tasks > div:nth-child(6n+3) {
  background-color: #c9f0ff;
}
.tasks > div:nth-child(6n+4),
.tasks > div:nth-child(6n+6) {
  background-color: #7d82bb;
}

.time, .task {
  font: bold 15px "Lucidia Console", sans-serif;
  padding: 5px;
  border-style: none solid none none;
}

.task {
  border-style: none none none solid;
}

.taskform {
  padding: 10px;
  position: absolute;
  left: 50%;
  transform:translate(-50%);
  background-color: #f9cb40;
  width: 70%;
  border-radius: 20px;
  padding: 20px;
}:

option {
  background-color: #7d82bb;
}

#collateral, #checkpoint, #poc, #verification, #completion, #description {
  background: transparent;
}

#taskdiv {
  text-align: center;
}


label {
  padding: 20px;
  display: inline-block;
}

textarea{
  resize: none;
}

.gobutton {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  padding-bottom: 50%;
  background-color: #613f75;
  text-align: center;
  border: 5px solid black;
  border-radius: 50%;

  box-shadow: 5px 5px #101010;

}

.gobutton > div {
  font: bold 40px "Lucidia Console", sans-serif;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #613f75;
}

.navbar > a {
  font: 15px/30px "Lucida Console", sans-serif;
  background-color: #7d82B8;
  color: black;
  margin: 10px;
  text-align: center;
  flex: 10;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

a:link {
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    
}

a:active {
    text-decoration: underline;
    
}
